$yellow:#ffc100;
$blue:#2600ac;
$green:#009d30;
$red: #ff0000;

$col-height: 230px;
$col-width: 50px;

.logo-wrapper{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}
.los{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid $yellow;
    position: absolute;

    &:after {
        content: "";
        position: absolute;
        left: -50px;
        top: 25px;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 25px solid $yellow;
    }

    &-back{
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        z-index: 100;
    }
    &-right {
        top: 58px;
        right: 0px;
    }

    &-left {
        top: 58px;
        left: 0px;
        z-index: 25;
    }

    &-front {
        top: 120px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        z-index: 200;
    }

}

.col {
    position: absolute;
    height: $col-height;
    width: $col-width;
    background: $blue;
    transform: skewY(-25deg);

    &:after {
        content: "";
        position: absolute;
        height: $col-height;
        width: $col-width;
        background: $green;
        right: 100% ;
        transform: skewY(43deg);
        top: -23px;
    }

    &-back {
        top: 36px;
        left: 50%;
        z-index: 10 ;
    }

    &-right{
        bottom: 75px;
        right: 0px;
        z-index: 20;
    }

    &-left {
        bottom: 75px;
        left: 50px;
        z-index: 30;
    }

    &-front {
        bottom: 13px;
        left: 50%;
        z-index: 190;
    }

}

.row{

    &-front {
        position: absolute;
        height: 210px;
        width: $col-width;
        background: $blue;
        transform: rotateZ();
        top: 136px;
        left: 274px;
        transform: rotateZ(-41deg);
        z-index: 40;


        &:after {
            content: "";
            position: absolute;
            background: $red;
            width: 40px;
            height: 180px;
            left: -40px;
            bottom: 25px;
            transform: skewY(50deg);
        }

    }

    &-right {
        position: absolute;
        width: 80px;
        height: 160px;
        background: $green;
        top: 90px;
        right: 80px;
        transform: rotateZ(40deg);
        z-index: 15;
    }

    &-back {
        position: absolute;
        height: 274px;
        width: $col-width;
        background: $blue;
        top: 45px;
        left: 125px;
        transform: rotateZ(31deg);
        z-index: 25;

        &:after {
            content: "";
            position: absolute;
            background: $green;
            width: 55px;
            height: 200px;
            right: $col-width;
            transform: skewY(358deg);
        }

       

    }

     &-left {
            position: absolute;
            height: 282px;
            width: $col-width;
            background: $green;
            transform: rotateZ(-31deg);
            top: 100px;
            left: 74px;
            z-index: 35;

            &:after{
                content: "";
                position: absolute;
                background: $red;
                width: 57px;
                height: 200px;
                left: 50px;
                transform: skewY(5deg);
                top: 3px;
            }

        }

     


}

